@model daraz.Datamodel.Customer

@{
    ViewData["Title"] = "Create";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .one {
            padding-left: 20px;
            background-color: aquamarine;
            line-break:10px;
            text-align:center;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1> Create a new customer</h1>
    <hr>
    <div class="one">
        <div class="row bg-light text-black">
            <div class="col-md-4 " form-row"">
                <form asp-action="Create">
                    <table>
                        <tr>
                            <td>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StreetAddress" class="control-label"></label>
                        <input asp-for="StreetAddress" class="form-control" />
                        <span asp-validation-for="StreetAddress" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="StreetAddressLine" class="control-label"></label>
                        <input asp-for="StreetAddressLine" class="form-control" />
                        <span asp-validation-for="StreetAddressLine" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="State" class="control-label"></label>
                        <input asp-for="State" class="form-control" />
                        <span asp-validation-for="State" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ZipCode" class="control-label"></label>
                        <input asp-for="ZipCode" class="form-control" />
                        <span asp-validation-for="ZipCode" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PhoneNumber" class="control-label"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AboutUs" class="control-label"></label>
                        <input asp-for="AboutUs" class="form-control" />
                        <span asp-validation-for="AboutUs" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Feedback" class="control-label"></label>
                        <input asp-for="Feedback" class="form-control" />
                        <span asp-validation-for="Feedback" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Suggestions" class="control-label"></label>
                        <input asp-for="Suggestions" class="form-control" />
                        <span asp-validation-for="Suggestions" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="recommend" class="control-label"></label>
                        <input asp-for="recommend" class="form-control" />
                        <span asp-validation-for="recommend" class="text-danger"></span>
                    </div>
                    <div class="form-group">

                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");
        }
    }
    </div>
</body>
</html>
